.home-container {
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;
}

.hero-section {
  text-align: center;
  padding: 20% 20px;
   background: url('../../../../public/wallpaper_mortal_kombat_11_fan_art_01_1920x1080.jpg') center/cover no-repeat;
  color: white;
  margin-bottom: 40px;
}

.hero-section h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-weight: 600;
}

.hero-section p {
  font-size: 1.2rem;
  opacity: 0.95;
}

.cards-container {
  display: grid;
  gap: 14px;
  margin-top: 15px;
}


.card-icon {
  font-size: 48px;
  width: 48px;
  height: 48px;
  color: #3f51b5;
  margin-bottom: 10px;
}

mat-card-header {
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 16px;
}

mat-card-title {
  font-size: 1.5rem;
  margin-top: 10px;
}

mat-card-content {
  min-height: 80px;
}

mat-card-actions {
  display: flex;
  gap: 10px;
  padding: 16px;
}