@import '@angular/material/prebuilt-themes/azure-blue.css';
   
   body {
     font-family: Roboto, "Helvetica Neue", sans-serif;
     margin: 0;
     padding: 0;
   }
   
   .container {
     padding: 20px;
   }